@{
    ViewBag.Title = "Home Page";
}
@model test2.Models.login

<form action="" method="POST">
    <table>
        <tr>
            <td>Username</td>
            <td>@Html.TextBoxFor(m => m.username, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>@Html.TextBoxFor(m => m.password, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.TextBox("submit","Submit", new { @type = "submit" })</td>
        </tr>
    </table>
</form>